[mysqld]
port = 3307
datadir=/UD01/mysql/data
user=mysql

character-set-client-handshake = FALSE
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

skip-symbolic-links         #Punto a implementar seguridad, es para MyISAM
log_timestamps = 'SYSTEM'   #Para que la fecha y hora de error y slow  coincidan con la del sistema

lower_case_table_names  =1
plugin-load-add         =validate_password.so

binlog_format=ROW
bind-address=0.0.0.0
default_storage_engine=innodb
skip-symbolic-links         #Punto a implementar seguridad

# CACHES AND LIMITS #
max_connections                 =500   #Cambiar valor a numero esperado
max_allowed_packet              =1G
max_connect_errors              =100
table_open_cache_instances      =16
table_open_cache                =2064
tmp_table_size                  =8M
thread_cache_size               =9
back_log                        =80
flush_time                      =0
join_buffer_size                =256K
sort_buffer_size                =128K  #256k default
table_definition_cache          =1400
binlog_row_event_max_size       =8K
expire_logs_days                =4
log_bin_trust_function_creators
#thread_pool_size                =32  #Recomendacion soporte SR
query_cache_size = 0
query_cache_type = 0


#INNODB
innodb_file_per_table                   =1
#innodb_data_file_path                   =ibdata1:512M;ibdata2:512M:autoextend
innodb_stats_persistent                 =1
innodb_read_io_threads                  =16
innodb_write_io_threads                 =4
innodb_buffer_pool_size                 =2G    #Esta es la variable mas importante, depende de la ram disponible en el servidor.
innodb_stats_persistent_sample_pages    =100
innodb_log_file_size                    =2G      
innodb_checksum_algorithm               =crc32
innodb_fast_shutdown                    =0
innodb_flush_log_at_trx_commit          =0  #Recomendado por Galera cluster MySQL
innodb_autoinc_lock_mode                =2 #Recomendado por Galera cluster MySQL
sync_binlog                             =1
innodb_log_buffer_size                  =8M
innodb_autoextend_increment             =64
innodb_concurrency_tickets              =5000
innodb_old_blocks_time                  =1000
innodb_open_files                       =300
innodb_temp_data_file_path              =ibtmp1:12M:autoextend:max:15G
#innodb_flush_neighbors = 0 #SSD
innodb_buffer_pool_instances   = 16 #recomendacion Soporte Oracle
innodb_page_cleaners           = 8  #recomendacion Soporte Oracle


# LOGS #
log-error                           = /var/log/mysql/Bitacora/mysqld.log
slow_query_log                      =1
slow_query_log_file                 = /var/log/mysql/slow.log
long_query_time                     =5
log_queries_not_using_indexes       =0
general_log                         =1    #Habilitar al instalar, despues deshabilitar. Se puede usar para procesos especificos
general_log_file                    =/var/log/mysql/general.log
#audit_log_file                      =/var/log/mysql/audit/audit.log
#secure_file_priv='/var/log/mysql/'

#Conf Galera
wsrep_provider=/usr/lib64/galera-3/libgalera_smm.so
wsrep_provider_options="gcache.size=300M; gcache.page_size=300M"
wsrep_cluster_name="amxclust"
wsrep_cluster_address="gcomm://10.23.144.138,10.23.144.139,10.23.144.140"
wsrep_sst_method=rsync

wsrep_node_name=master
wsrep_node_address="10.23.144.138"


[mysql_safe]
port = 3307
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
