# Kickstart for provisioning a RHEL 7 Azure VM

# System authorization information
auth --enableshadow --passalgo=sha512

# Use graphical install
cmdline
#text

# Do not run the Setup Agent on first boot
firstboot --disable

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8

# Network information
#network --activate
network  --bootproto=dhcp

# Root password
#rootpw  --iscrypted $6$pj7UsxO5k5xFWeME$FTBrmsLok.67CQoXL.edFxxIpG1Ywg52NuzJelE9LkeX.cvrtq2Ks2bhkRFjwPZBQe67uRpJlMdB0i/y8gpqg/
rootpw "root"

# System services
services --enabled="sshd,NetworkManager"

# System timezone
timezone Etc/UTC --isUtc --ntpservers 0.rhel.pool.ntp.org,1.rhel.pool.ntp.org,2.rhel.pool.ntp.org,3.rhel.pool.ntp.org

# Partition clearing information
clearpart --all --initlabel

# Clear the MBR
zerombr

# Disk partitioning information
part /boot --fstype="xfs" --size=500
part / --fstype="xfs" --size=1 --grow --asprimary

# System bootloader configuration
bootloader --location=mbr

# Firewall configuration
# firewall --disabled

# Enable SELinux
selinux --enforcing

# Don't configure X
skipx

# Power down the machine after install
reboot

%packages
@base
@console-internet
chrony
sudo
parted
-dracut-config-rescue
-postfix

%end